.signupdiv{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seller-signup-checkBox{
    justify-content: center;
}

.signup-form-style{
    min-width: 20%;
}